.maxw-half {
    max-width: 50% !important;
}
.width-half {
    width: 50% !important;
}

body * {
    font-family: 'Work Sans', sans-serif !important;
}

code {
    font-family: 'Courier New', Courier, monospace !important;
}

pre {
    font-family: 'Courier New', Courier, monospace !important;
    display: block;
    white-space: pre;
    margin: 1rem 0px;
    overflow-y: auto;
    padding: 1rem;
    background-color: black;
    border-radius: .5rem;
    font-size: 1.5rem;
}

.usa-button:hover {
    color: white !important;
}

.usa-button:visited {
    color: inherit;
}

.text-semibold {
    font-weight: 600;
}

.projection-text {
    font-size: 2rem;
}

.projection-text blockquote {
    font-style: italic;
    border-color: #005ea2;
    border-left: 4px solid #005ea2;
    margin-left: 0;
    padding: 1rem;
}

.projection-text blockquote p {
    margin: 0;
}

.projection-text li {
    margin-bottom: 1.25rem;
}

.slide a:not(.usa-button) {
    color: #ffbc78;
}

.slide a:hover:not(.usa-button), .slide a:active:not(.usa-button) {
    color: #fa9441;
}

.slide a:visited:not(.usa-button) {
    color: #e1f3f8
}

.slide a:visited:hover:not(.usa-button) {
    color: white;
}

