<div class="grid-row padding-2 radius-lg bg-accent-warm-lighter shadow-4 border-white border-05 text-ink text-semibold">
    <div class="tablet:grid-col">
        <div class="minh-card font-body-lg padding-4 bg-accent-warm-lighter">
            <span class="font-body-3xl bg-accent-warm-lighter">🧢</span><br>Plain-jane text…
        </div>
    </div>
    <div class="tablet:grid-col">
        <div class="minh-card font-body-lg padding-4 bg-accent-warm-lighter">
            <span class="font-body-3xl bg-accent-warm-lighter">🎩</span><br>Fancy-schmancy prototype.
        </div>
    </div>
</div>