<form style="" action="https://tinyletter.com/rwp-workshop"
    method="post" target="popupwindow"
    onsubmit="window.open('https://tinyletter.com/rwp-workshop', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">
    <h3 class="text-accent-warm-light text-uppercase"><label for="tlemail">Enter your email address</label></h3>
    <p><input type="text" class="usa-input bg-accent-warm-lighter margin-bottom-2 radius-md" name="email" id="tlemail" /></p><input type="hidden" value="1"
        name="embed" /><input type="submit" value="Subscribe" class="usa-button usa-button--big bg-accent-warm-light text-ink hover:bg-accent-warm-dark" />
    <p><a href="https://tinyletter.com" target="_blank" class="text-accent-warm-light hover:text-accent-warm">powered by TinyLetter</a></p>
</form>